/* "css/style.css" - til dine custom styles*/

/* Før du skriver noget CSS selv, så tjek https://getbootstrap.com/docs/4.3/getting-started/introduction/ (menuen til venstre)

Der er masser af indbyggede classes for alt muligt i bootstrap, som du hellere skal tilføje i HTML-filen.
F.eks. for typografi, spacing (margin og padding), flexboxes og positionering med meget mere */


/* -------------------------------------------- FONTS*/

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
}

h2 {
    color: white;
    font-size: 20px
}

h3 {
    color: white;
    font-size: 25px
}

h5 {
    color: white;
    font-size: 1.8em
}

h6 {
    color: white;
    font-family: 'Gochi Hand', cursive;
    font-size: 40px;
}

p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}


button {
    color: white;
}

body {
    background-color: #0b0b0b;
}


.container-fluid {
    padding: 0
}

#background {
    /*    background-color: #1f1f1f;*/
    background-color: #0b0b0b;

    overflow: hidden;
}

section {
    margin-bottom: 30px;
}


/* -------------------------------------------- IMAGE*/

.img_overwrite {
    width: 100px;
    height: auto;
}


/* -------------------------------------------- MENU*/




/* -------------------------------------------- HOME*/

#home {
    /*    background: red;*/
    height: 100vh;
}

.unity_img {
    transform: scale(1);
    transition: 1s;
}

.unity_img:hover {
    transform: scale(1.08)
}

/* -------------------------------------------- INTRO*/

#intro {
    /*    border: solid 3px blue;*/
}

.intro_img {
    max-width: 600px;
}

.intro_text {
    max-width: 600px;
}

/* -------------------------------------------- UNITY*/

#unity {
    /*    border: solid 3px green;*/
}

.unity_text:hover {
    /*    color: hotpink;*/
}

.hand {
    padding-right: 0;
    right: 0px;

    max-width: 700px;

    transform: scale(1);
    transition: 0.5s;
}

.hand:hover {
    transform: scale(1.02);
}

/* -------------------------------------------- PRODUCTS*/

#product {
    /*    border: solid 3px orange*/
}

.single_product {
    background-color: rgba(103, 103, 103, 0.36);
    padding: 1rem;
    border-radius: 1rem;

    width: 400px;
    transform: scale(1);
    transition: 0.5s;
}

.single_product:hover {
    transform: scale(1.02)
}

/* -------------------------------------------- VIDEO*/

#video {
    /*    border: solid 3px purple*/
}

.video {
    /*    border-radius: 1000px;*/
}

/* -------------------------------------------- REQUEST*/

#request {
    /*    border: solid 3px crimson*/
}

input[type=text],
select {
    width: 80vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 300px;
    color: white;
    background-color: transparent;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8b31ba;
    border-color: #8b31ba;

}


/* -------------------------------------------- LOGO*/

#logo {
    /*    border: solid 3px limegreen*/
}

.logo_img {
    max-width: 250px;
}

/* -------------------------------------------- FOOTER*/

#footer {
    /*    border: solid 3px deeppink*/
}

/* -------------------------------------------- ANIMATION*/

.animation_home_img {
    animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}
